chromadb==1.5.1
coloredlogs==15.0.1
colorlog==6.10.1
datasets==4.5.0
docling==2.74.0
fastapi==0.129.0
gradio==6.6.0
httpx==0.28.1
ipykernel
langchain-openai==1.1.7
langchain-text-splitters==1.1.1
pandas==2.3.3
pydantic==2.12.5
python-dotenv==1.2.1
ragas==0.4.3
requests==2.32.5
sentence-transformers==5.2.3
uvicorn==0.41.0
